<html>
<head>

    <link href="../../Context/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery~3.4.1.min.js"></script>
</head>
<body>

    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input type="text" placeholder="username" value="admin" id="txtUsername" />
                <input type="password" placeholder="password" value="123" id="txtPassword" />
                <button onclick="GetLogin()">login</button>
                <p class="message">Noy registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <script src="~/Scripts/PageScripts/index.js"></script>
</body>
</html>

